.element__like-counter {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #000;
  justify-self: end;
  margin: 0 20px 0 0;
  width: 22px;
  text-align: center;
}