.popup__button {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  width: 358px;
  height: 50px;
  border: none;
  border-radius: 2px;
}

.popup__button:hover {
  cursor: pointer;
  background-color: #2d2d2d;
}

@media screen and (max-width: 580px) {
  .popup__button {
    font-size: 14px;
    width: 238px;
    height: 46px;
  }
}