.footer__copyright {
  color: #545454;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 710px) {
  .footer__copyright {
    font-size: 14px;
  }
}